/* result.css */
.result-container {
    margin-top: 190px;
    text-align: center;
}

.slider-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    align-items: center;
}

body {
    font-family: 'Roboto', sans-serif;
    background: url('img2.jpeg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

.slider {
    width: 80%;
    max-width: 1000px;
    margin: 20px 0;
}

#slider-value {
    font-size: 20px;
    font-weight: bold;
    color: #007bff;
}

.start-button {
    display: inline-block;
    background-color: #142f4d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.start-button:hover {
    background-color: #0056b3;
}
